POSTGRES_DB=mentormatch
POSTGRES_USER=твоето_име
POSTGRES_PASSWORD=твоята_парола
FLASK_ENV=development
SECRET_KEY=смени_това_с_произволен_низ

# Смени името на файла от .env.example на .env и замени 2,3 и 5-ти ред с твоята информация